.container__menu-title {
    color: white;
}

.container__menu-title > H1 {
    margin-top: 15PX;
    margin-bottom: 15PX;
    font-size: 135px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.container__menu-title > hr {
    margin-top: 20px ;
    margin-bottom: 5px;
}