<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        id="1"
        photoCover="https://th.bing.com/th/id/OIP.Mtw0eaSwwbB7D9-fFPVvcgHaDr?pid=ImgDet&rs=1"
        cardDescription="Nova versão do framework é lançada com várias novidades e agrada desenvolvedores"
        cardTitle="Veja novidades do Angular"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card *ngFor="let d of data; let i = index;"
        id= {{d.id}}
        photoCover={{d.photoCover}}
        cardTitle={{d.title}}></app-small-card>
    </div>

</div>